{% extends 'bechdelapp/base.html' %}

{% block content %}
    <h1>Feminist Review of Indian Cinema</h1>
    <h4> This site aspires to enable collaborative feminist rating of Indian Language movies. The feminist
    rating makes use of the popular Bechdel Test. The test can be described in terms of 3 questions. </h4>
    <hr>
    <h4> In any given movie, </h4>
    <ol>
        <li> <h4> Are there at least 2 named women characters?
        <li> <h4> Who speak with each other for more than 5 minutes?
        <li> <h4> About anything other than men?
    </ol>

{% endblock %}
