{% load static %}
<html>
<head>
    <title>Bechdel Test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
</head>
<body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">Feminist Review of Indian Cinema</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'index' %}">LANGUAGE</a></li>
            <li><a href="{% url 'download' %}">DOWNLOAD DATA</a></li>
            <li><a href="#" class="end-space">CONTACT</a></li>
          </ul>
        </div>
      </nav>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
</body>
</html>
