{% extends 'bechdelapp/base.html' %}

{% block content %}
    <h5> <span class="glyphicon glyphicon-check"></span> </h5>
    <h1>Download was successful! Please check the Downloads folder on your device.</h1>
    
{% endblock %}
