{% extends 'bechdelapp/base.html' %}

{% block content %}
  <div>
    <a href="{% url 'movie_list_ta' %}" class="home-button card" role="button">
        Tamil <br>
        தமிழ்
    </a>
    <a href="{% url 'movie_list_te' %}" class="home-button card" role="button">
        Telugu <br>
        తెలుగు
    </a>
    <a href="{% url 'movie_list_hi' %}" class="home-button card" role="button">
        Hindi <br>
        हिंदी
    </a>
    <a href="{% url 'movie_list_ml' %}" class="home-button card" role="button">
        Malayalam <br>
        മലയാളം
    </a>
    <a href="{% url 'movie_list_bn' %}" class="home-button card" role="button">
        Bengali <br>
        বাঙালি
    </a>
    <a href="{% url 'movie_list_kn' %}" class="home-button card" role="button">
        Kannada <br>
        ಕನ್ನಡ
    </a>
    <a href="{% url 'movie_list_mr' %}" class="home-button card" role="button">
        Marathi <br>
        मराठी
    </a>
    <a href="{% url 'movie_list_pn' %}" class="home-button card" role="button">
        Punjabi <br>
        ਪੰਜਾਬੀ
    </a>
    <a href="{% url 'movie_new' %}" class="home-button card" class="add-movie">
        Add a movie
        <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
{% endblock %}
