{% extends 'bechdelapp/base.html' %}

{% block content %}
<div class="movie-table">
<h2>Movie List - {{language}} </h2>
  <table>
      <tr>
        <th>Title</th>
        <th>Year</th>
      </tr>
      {% for movie in movies %}
      <tr>
        <td> <a href="{% url 'movie_detail' pk=movie.pk %}"> {{ movie.title }} </a> </td>
        <div class="date">
          <td> {{ movie.year }} </td>
        </div>
      </tr>
      {% endfor %}
  </table>
  <h4> <a href="{% url 'movie_new' %}"> Add a missing movie to the list! </a> </h4>
</div>
{% endblock %}
