{% extends 'bechdelapp/base.html' %}

{% block content %}
    <h1>Add new movie</h1>
    <form method="POST" class="movie-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
