{% extends 'bechdelapp/base.html' %}

{% block content %}
  <div class="movie-table">
    <h2> {{ movie.title }} </h2>
    <h4>Language: {{ movie.language }} </h4>
    <h4>Year: {{ movie.year }} </h4>
    <h4>Wikipedia Link: <a href=""> {{ movie.wikipedia_link }}</a> </h4>
    <h4>No. of reviewers (so far): {{score_list.4}} </h4>
    <div class="rating">

      {{score_list.0|floatformat:"1" }} % reviewers felt that the movie does not even have two women
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: {{score_list.0}}%">
          <span class="sr-only">the movie does not have two women</span>
        </div>
      </div>

      {{score_list.1|floatformat:"1" }} % reviewers felt that the movie has two women who don't talk to each other
      <div class="progress">
        <div class="progress-bar progress-bar-warning" style="width: {{score_list.1}}%">
          <span class="sr-only">two women</span>
        </div>
      </div>

      {{score_list.2|floatformat:"1" }} % reviewers felt that the two women talk only about men
      <div class="progress">
        <div class="progress-bar progress-bar-warning" style="width: {{score_list.2}}%">
          <span class="sr-only">talk to each other</span>
        </div>
      </div>

      {{score_list.3|floatformat:"1" }} % reviewers felt that the two women discuss something other than men
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{score_list.3}}%">
          <span class="sr-only">about anything other than men</span>
        </div>
      </div>

    </div>
  </div>

  <a class="btn btn-default" href="{% url 'rate_movie' pk=movie.pk %}">Rate movie</a>
  <a class="btn btn-default" href="{% url 'add_comment_to_movie' pk=movie.pk %}">Add comment</a>
  {% for comment in movie.comments.all %}
      <div class="comment">
          <div class="date">{{ comment.created_date }}</div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text|linebreaks }}</p>
      </div>
  {% empty %}
      <p>No comments here yet :(</p>
  {% endfor %}
{% endblock %}
