.navbar-default {
    background-color: #6A1B9A;
    border-color: #E7E7E7;
}

h1 {
    color: #4A148C;
    font-family: 'Open Sans';
    font-weight: 700;
    padding: 0 0 0 0;
}

h3 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20pt;
  padding: 0 0 0 0;
}

h2 {
    color: #8E24AA;
}

h5 {
    color: #8E24AA;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans';
}

.end-space {
  margin-right: 150px;
}

.navbar {
    background-color: #6A1B9A;
  }



.navbar-header {
    background-color: #6A1B9A;
}

.navbar-default .navbar-brand{
  color: #F3E5F5;
  font-size: 18pt;
  background-color: #6A1B9A;
  margin-left: 60px;
  margin-right: 299px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
    background-color: #6A1B9A;
}
.navbar-nav{
  font-size: 10pt;
  background-color: #6A1B9A;
}

.navbar-default .navbar-nav > li > a {
    color: #F3E5F5;
    background-color: #6A1B9A;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #6A1B9A;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #6A1B9A;
}

.page-header {
      background-color: #6A1B9A;
      margin-top: 0;
      padding: 0 0 0 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 32pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    margin-top: 100px;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.movie-form textarea, .movie-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 1px;
}

.add-movie, .add-movie:hover, .add-movie:visited {
  /*  color: #ffffff; */
    float: left;
    font-family: 'Lobster', cursive;
    margin-right: 20px;
}

.movie-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 180%;
    margin-bottom: 70px;
}

.movie-table td, .movie-table th {
    /*border: 1px;  solid #ddd; */
    text-align: left;
    padding: 8px;
    padding-right: 70px;
}

.movie-table tr:nth-child(even){background-color: #f2f2f2;}

.movie-table tr:hover {background-color: #ddd;}

.movie-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7B1FA2;
    color: white;
}

.movie-table h1 a, .movie-table h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.rating {
    margin: 20px 0px 20px 20px;
}
.card{
    display: block;
    background: #FAFAFA;
    padding: 25px 25px 25px 25px;
    margin-bottom: 20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: auto;
    height: auto;
    text-align: center;
    font-size: 15pt;
    box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);
    border-left:5px solid transparent;
}
a.home-button{
    padding: 15px;
    margin: 10px;
    color: #6A1B9A;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    width: 180px;
    height: 180px;
    vertical-align: top;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
a.home-button:hover{
    background: #6A1B9A;
    color:#FFFFFF;
}
a.home-button .glyphicon{
    font-size: 5rem;
    display: block;
    margin-bottom: 10px;
}
a.home-button .text{
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    display:inline-block;
}

.progress{
  width: 200px;
  height: 15px;
  border-radius: 10%;
}

.glyphicon.glyphicon-check {
    font-size: 150px;
    text-align: center;
    font-weight: lighter;
    padding: 45px 45px 5px 0;
}
